<%= labeled_form_for @mailing, :html => { :class => "meuform" } do |f| %>
    
    <%= f.error_messages %>
  
    <%= label_tag nil, 'Solicitante:' %>
    <div class="cabecalho">
      <%= text_field_tag @mailing.user.try(:name), current_user.name, :readonly => true  %><br>
    </div>
    <%= label_tag nil, 'Celular:' %>
    <div class="cabecalho">
      <%= text_field_tag @mailing.user.try(:phone), current_user.phone, :readonly => true  %><br>
    </div>
    <%= label_tag nil, 'Ramal:' %>
    <div class="cabecalho">
      <%= text_field_tag @mailing.user.try(:branch), current_user.branch, :readonly => true  %><br>
    </div>


    <% if params[:action] == 'new' %>
  <div class="form_row">
    <h4>Restrições para o Mailing:</h4>
    <%= hidden_field_tag "mailing[restriction_ids][]", nil %>
    <% Restriction.all.each do |restriction| %>
      <% if restriction.id == 7 %>
            <br><%= check_box_tag "mailing[restriction_ids][]", restriction.id, false, id: dom_id(restriction) %>
      <% else %>
            <br><%= check_box_tag "mailing[restriction_ids][]", restriction.id, true, id: dom_id(restriction) %>
      <% end %>
      <%= label_tag dom_id(restriction), restriction.name %><br>
    <% end %>
  </div>

    <% else %>
  <div class="form_row">
    <h4>Restrições para o Mailing:</h4>
    <%= hidden_field_tag "mailing[restriction_ids][]", nil %>
    <% Restriction.all.each do |restriction| %>
    <br><%= check_box_tag "mailing[restriction_ids][]", restriction.id, @mailing.restriction_ids.include?(restriction.id), id: dom_id(restriction) %>
      <%= label_tag dom_id(restriction), restriction.name %><br>
    <% end %>
  </div>

<% end %>
  
    <h4>Requisição de Mailing ou Acompanhamento de Ações</h4>

    <% if current_user.role == "admin" || current_user.role == "moderator" %>
        <%= f.label :rlowner_id, 'Delegar Demanda para:' %>
        <%= select_tag 'mailing[rlowner_id]', options_from_collection_for_select(User.order('name asc'), 'id', 'display_name', @mailing.rlowner_id), { :prompt => 'Selecione um Usuário', :include_blank => 'None'} %>
    <% end %>

    <%= f.label :typemailing, '1) Demanda:' %>
    <%= f.select :typemailing, options_for_select([ "Mailing", "Mensuração" ], @mailing.typemailing) %>
    <%= f.label :approach, '2) Meios de abordagem:' %>
    <%= f.select :approach, options_for_select([ "SMS (Broadcast Claro)", "SMS (Broadcast Parceiro)", "Torpedo Fone", "Call Center - Telemarketing Ativo" ], @mailing.approach ) %>

    <%= f.text_area :objective, rows: 8, cols: 190, :label => '3) Objetivo:'  %>
    <%= f.text_area :description, rows: 8, cols: 90, :label => '4) Descrição da ação ou do acompanhamento:'  %>
    <%= f.text_area :sms, rows: 8, cols: 90, onkeyup:"countChar(this)", onpropertychange:"this.onkeyup()", rows: 8, cols: 90, :label => '5) Texto da SMS (Quando aplicável):', :help_text => 'Importante: Limitado a 160 caracteres e sem acentuação.' %>
    
    <div class='charNum' id='charNum'>160</div>

    <%= f.text_area :folder, rows: 8, cols: 90, rows: 8, cols: 90, :label => '6) Pasta onde as informações deverão ser disponiblizadas (FTP):', :help_text => 'Se a ação for executada por algum parceiro externo, descrever o nome do parceiro.' %>
    <%= f.text_area :layout, rows: 8, cols: 90, rows: 8, cols: 90, :label => '7) Layout do mailing:' %>
    <%= f.text_area :periodicity, rows: 8, cols: 90, rows: 8, cols: 90, :label => '8) Periodicidade da mensuração da ação / acompanhamento (Quando aplicável):' %>

  <div class="form-actions">
    <% if params[:action] == 'new' || params[:action] == 'create' %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <i class="icon-ok icon-white"></i><b> <%= t("helpers.submit.createmailing") %></b>
          <% end %>
    <% else %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <i class="icon-ok icon-white"></i><b> <%= t("helpers.submit.updatemailing") %></b>
          <% end %>
    <% end %>
    <%= link_to(mailings_path, class: 'btn btn-danger') do %>
        <%= content_tag('i', nil, class: 'icon-remove') %> <%= t("helpers.links.cancel") %>
    <% end %>

  </div>

<% end %>
