<br>
<h4>Requisição de Mailing ou Acompanhamento de Ações</h4>

<p id="notice"><%= notice %></p>

<p>
  <b>Demanda:</b>
  <%= @mailing.typemailing %>
</p>

<p>
  <b>Abordagem:</b>
  <%= @mailing.approach %>
</p>

<p>
  <b>Objetivo:</b>
  <%= @mailing.objective %>
</p>

<p>
  <b>Descrição:</b>
  <%= @mailing.description %>
</p>

<p>
  <b>Texto do SMS:</b>
  <%= @mailing.sms %>
</p>

<p>
  <b>Pasta destino:</b>
  <%= @mailing.folder %>
</p>

<p>
  <b>Layout:</b>
  <%= @mailing.layout %>
</p>

<p>
  <b>Periodicidade:</b>
  <%= @mailing.periodicity %>
</p>

<p>
  <b>Criado por:</b>
  <%= @mailing.user.try(:name) %>
</p>

<% if !@mailing.rlowner_id.blank? %>
    <p>
      <b>Demandado para:</b>
      <%  @usuario = User.find(:all, :conditions => {:id => @mailing.rlowner_id}) %>
      <%  @usuario.each do |usuarios| %>
       <%= usuarios.name %>
      <% end %>
    </p>
<% end %>

<p>
  <b>Status:</b>
  <%= 
  case @mailing.try(:status) 
             when 0 then 'Novo'
             when 1 then 'Demandado'
             when 2 then 'Entregue'
             when 3 then 'Finalizado'
        end
  %>
</p>

<b>Restrições:</b>
<ul>
  <% @mailing.restrictions.each do |restriction| %>
    <li><%= restriction.name %></li>
  <% end %>
</ul>


<div class="form-actions">
  <%= link_to(mailings_path, class: 'btn btn-small btn-inverse') do %>
        <%= content_tag('i', nil, class: 'icon-arrow-left') %> <%= t("helpers.links.back") %>
  <% end %>
  <% if can? :update, @mailing %>
      <%= link_to(edit_mailing_path(@mailing), 
                class: 'btn btn-small btn-info' ) do %>
            <%= content_tag('i', nil, class: 'icon-edit') %> <%= t("helpers.links.edit") %>
        <% end %>                     
      <%= link_to(mailing_path(@mailing), 
                class: 'btn btn-small btn-danger', 
                method: 'delete', 
                data:{ :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } ) do %>
            <%= content_tag('i', nil, class: 'icon-remove') %> <%= t("helpers.links.destroy") %>
        <% end %>                    
   <% end %>

   <% if can? :deliver, @mailing %>
      <%= link_to(deliver_mailing_path(@mailing), 
                class: 'btn btn-small btn-warning', 
                method: 'deliver', 
                data:{ :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } ) do %>
            <%= content_tag('i', nil, class: 'icon-thumbs-up') %> <%= t("helpers.links.deliver") %>
        <% end %>                   
   <% end %>

    <% if can? :finalize, @mailing %>
        <%= link_to(finalize_mailing_path(@mailing), 
                class: 'btn btn-small btn-success', 
                method: 'finalize', 
                data:{ :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } ) do %>
            <%= content_tag('i', nil, class: 'icon-hand-right') %> <%= t("helpers.links.finalize") %>
        <% end %> 
   <% end %>

        <%= link_to(mailing_path(@mailing, :format => 'pdf'), 
                class: 'btn btn-small btn-primary', 
                target: '_blank',
                data:{ :confirm => t('.confirm', :default => t("helpers.links.confirmpdf", :default => 'Are you sure?')) } ) do %>
            <%= content_tag('i', nil, class: 'icon-print') %> <%= t("helpers.submit.printmailing") %>
        <% end %>    

</div>

<h3>Comentários:</h3>

<%= content_tag :div, id: "comments", data: {url: mailing_comments_url(@mailing)} do %>
  <%= render @mailing.comments %>
<% end %>

<p id="no_comments" style="display: none">
  No comments
</p>

<p id="show_comments" style="display: none">
  More comments have recently been added. <a href="#">Show Comments</a>
</p>

<%= render 'comments/form' %>
