<p id="notice"><%= notice %></p>

<p>
  <b>Optin:</b>
  <%= @restriction.optin %>
</p>

<p>
  <b>Optout:</b>
  <%= @restriction.optout %>
</p>

<p>
  <b>Inadimplente:</b>
  <%= @restriction.inadimplente %>
</p>

<p>
  <b>Funcionario:</b>
  <%= @restriction.funcionario %>
</p>

<p>
  <b>Procon:</b>
  <%= @restriction.procon %>
</p>

<p>
  <b>Aca:</b>
  <%= @restriction.aca %>
</p>

<p>
  <b>Triplea:</b>
  <%= @restriction.triplea %>
</p>

<p>
  <b>Corp:</b>
  <%= @restriction.corp %>
</p>

<p>
  <b>Suspenso:</b>
  <%= @restriction.suspenso %>
</p>

<p>
  <b>Mailing:</b>
  <%= @restriction.mailing_id %>
</p>


<%= link_to 'Edit', edit_restriction_path(@restriction) %> |
<%= link_to 'Back', restrictions_path %>
