<h2>Login</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>

  <%= f.input :username, :required => true %>
  <%= f.input :password, :required => true %>
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me, :label => false %> <%= f.label t('inicial.campos.remember_me') %>
  <% end -%>
</BR></BR>
  <div class="field"><%= f.submit "Login", :class => 'btn btn-primary' %></div>

<% end %>

<!-- <%= render "devise/shared/links" %> -->


